[project]
	description = Mimic codepen like development experiment to sublime/cli
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gaohailang (gaohailang)
[access "refs/for/refs/*"]
	read = group user/gaohailang (gaohailang)
	push = group user/gaohailang (gaohailang)
	label-Code-Review = -2..+2 group user/gaohailang (gaohailang)
	label-Verified = -1..+1 group user/gaohailang (gaohailang)
	rebase = group user/gaohailang (gaohailang)
	removeReviewer = group user/gaohailang (gaohailang)
	submit = group user/gaohailang (gaohailang)
[access "refs/heads/*"]
	read = group user/gaohailang (gaohailang)
	create = group user/gaohailang (gaohailang)
	push = +force group user/gaohailang (gaohailang)
	pushMerge = group user/gaohailang (gaohailang)
[access "refs/tags/*"]
	push = +force group user/gaohailang (gaohailang)
	pushTag = group user/gaohailang (gaohailang)
	pushSignedTag = group user/gaohailang (gaohailang)
